<!doctype html>
<html>
<head>
	<title> app</title>
	
	<link href="../static/css/index.css" rel="stylesheet" />
</head>
<body>
	<div class="wrapper">
	<header>
		<h1>HOME PAGE</h1>
	</header>
	<nav>
	<ul >
		<li><a href="{{ url_for('simplechart') }}">Data analyst</a></li>
		<li><a href="{{ url_for('analyst') }}">Simplechart</a></li>
	</ul>
	</nav>
	<section>
	<p>Tên bộ dữ liệu : Forest Fires</p>
	<p>Tạo bởi: Paulo Cortez và  Aníbal Morais (Univ. Minho) @ 2007</p>
	<table width="345" height="309" border="1" align="center" style="text-align: center;">
	  <tbody>
	    <tr>
	      <td colspan="3" style="background-color:skyblue;">Information Team</td>
        </tr>
	    <tr>
	      <td width="43">STT</td>
	      <td width="91">MSSV</td>
	      <td width="125">Họ Và Tên</td>
        </tr>
	    <tr>
	      <td>1</td>
	      <td>19444101</td>
	      <td>Nguyễn Hữu Gia Hy</td>
        </tr>
	    <tr>
	      <td>2</td>
	      <td>18056521</td>
	      <td>Hà Huy Hoàng</td>
        </tr>
	    <tr>
	      <td>3</td>
	      <td>18062861</td>
	      <td>Dương Thị Diễm</td>
        </tr>
	    <tr>
	      <td>4</td>
	      <td>18055971</td>
	      <td>Trương Đình Phước</td>
        </tr>
	    <tr>
	      <td>5</td>
	      <td>18062811</td>
	      <td>Nguyễn Thị Thanh Thúy</td>
        </tr>
	    <tr>
	      <td>6</td>
	      <td>18068771</td>
	      <td>Vũ Văn Khải</td>
        </tr>
	    <tr>
	      <td>7</td>
	      <td>17067011</td>
	      <td>Đoàn Văn Quân</td>
        </tr>
      </tbody>
	  </table>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	</section>
<footer>
	<p style="padding-top:15px;">IUH-Đại Học Công Nghiệp TPHCM-Lập trình phân tích dữ liệu 1-Nhóm 12</p>
	</footer>
	</div>
</body>
</html>
